html
{
    height: 100%;
}

body 
{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #BDD3C7, #FBFAFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content 
{
    text-align: center;
    align-items: center;
}
.container 
{
    margin-top: 50px;
}

h1 
{
    color: #081D56; /* Change the color to your desired color code */
    margin-top: 50px;
}

h2 
{
    color: #081D56; /* Change the color to your desired color code */
}

h3 
{
    color: #081D56; /* Change the color to your desired color code */
}

.pill-button 
{
    font-family: 'Roboto', sans-serif;
    display: block; /* Changed from inline-block to block */
    background-color: #3961EE;
    color: #FBFAFF;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px auto; /* Centering horizontally */
    max-width: 200px; /* Setting a maximum width to prevent stretching */
}

.submit-button 
{
    display: block;
    background-color: #081D56;
    position: fixed; /* Fixed position */
    bottom: 50px; /* 20px from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

.return-button
{
    display: none;
    background-color: #081D56;
    position: fixed; /* Fixed position */
    bottom: 50px; /* 20px from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

.scrollable 
{
    width: 500px; /* Set width as needed */
    height: 200px; /* Set height as needed */
    overflow-y: scroll; /* Enable scrollbars if content overflows */
    border: 1px solid #ccc; /* Optional: Add border for visual clarity */
    padding: 10px; /* Optional: Add padding for better appearance */
    background-color: #FBFAFF;
}

.loading 
{
    display: none;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #081D56; /* Blue */
    border-radius: 50%;
    width: 30px; /* Increase the width */
    height: 30px; /* Increase the height */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}